<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541413670501-d2cn6f80hrqg8dl8jo459em4asr9ub9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541413670501-d2cn6f80hrqg8dl8jo459em4asr9ub9n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>541413670501-2a13njokb6rc325f27arkdhjp5a40r4h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAVHlHQs0L-zcxf_KJ6lEXUlA8bZzz_uY8</string>
	<key>GCM_SENDER_ID</key>
	<string>541413670501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adoptmevaluescalc</string>
	<key>PROJECT_ID</key>
	<string>adoptme-7b50c</string>
	<key>STORAGE_BUCKET</key>
	<string>adoptme-7b50c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541413670501:ios:f6bab2ea6e18aa852a108c</string>
	<key>DATABASE_URL</key>
	<string>https://adoptme-7b50c-default-rtdb.firebaseio.com</string>
</dict>
</plist>